@{
    ViewData["Title"] = "Book Attic";
}

<br />
<div class="card border-light">
    <div class="card-header">A C# ASP.NET Core MVC Application</div>
    <div class="card-body">
        <h1 class="card-title">Book Attic</h1>
        <p class="card-text">
            This web system was developed to register book information, including their category. 
            With this system, you can easily add, delete, and edit book categories. The system uses 
            technologies such as C#, ASP.NET Core MVC, Entity Framework, and SQL Server database to 
            create a robust and scalable platform that can handle large amounts of book information. 
            With the ability to record and manage book category information, this system can help 
            organize personal libraries and simple book collections. In addition, the user interface is 
            intuitive and easy to use, making registering a book category a simple and enjoyable task.
        </p>
    </div>
</div>